* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header style */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header a {
    text-decoration: none;
    color: rgb(235, 0, 235);
}

/* hide these sections until needed */
#questions-section, 
#game-over, 
#correct-incorrect-message, 
#highscores {
    display: none;
}

/* start quiz section style */
#start {
    text-align: center;
}

#start h1 {
    padding: 20px;
    font-size: 50px;
}

#start p {
    padding: 30px;
    font-size: 20px;
}

#start-button {
    font-size: 25px;
    padding: 10px;
}